<section class="block-train">
    <h2>(End training)</h2>
    <p>Количество слов, оставшихся для повторения:&nbsp; <span>{{ remainedWords }}</span> </p>
    <a href="/training">Новая тренировка</a>
</section>