<section class="translate">
    <h2 class="translate__title-main">ПЕРЕВОД</h2>
    <h4 class="translate__title-descr">[ с английского на русский ]</h4>
    <p class="translate__main-word" data-translate="{{ ruWord }}">
        {{ enWord }}
    </p>
    <ul class="translate__list">
        {% for word in checkWords %}
        <li class="translate__check-word"  data-translate="{{ word.ru }}"  data-check="true">
                <span class="translate__num">
                    ({{ word.counter }})&nbsp;&nbsp;
                </span>
            {{ word.ru }}
        </li>
        {% endfor %}
    </ul>
    <p class="translate__description">
        <sup>*&nbsp;</sup>
        выберите мышкой слово ... или нажмите номер слова на клавиатуре
    </p>
    <p class="translate__description">
        <sup>**&nbsp;</sup>
        не забудьте включить звук, чтобы слышать произношение
    </p>
</section>

<script src="../src/js/public/Translate.js?<?php echo time(); ?>"></script>