<section class="training_en_ru">
    <h2 class="training_en_ru-title__main">Перевод</h2>
    <h4 class="training_en_ru-title__descr">[ с английского на русский ]</h4>
    <p class="training_en_ru__en-word">IMAGINATION</p>
    <ul class="training_en_ru__translate">
        <li class="training_en_ru__ru-word"><span class="training_en_ru__num">(1)&nbsp;</span>Кошка</li>
        <li class="training_en_ru__ru-word"><span class="training_en_ru__num">(2)&nbsp;</span>Это вызывает неподдельное восхищение</li>
        <li class="training_en_ru__ru-word"><span class="training_en_ru__num">(3)&nbsp;</span> Птичка певчая</li>
        <li class="training_en_ru__ru-word"><span class="training_en_ru__num">(4)&nbsp;</span> Собака</li>
        <li class="training_en_ru__ru-word"><span class="training_en_ru__num">(5)&nbsp;</span> Летучая мышь</li>
    </ul>
    <p class="training_en_ru__description">
        <sup>*&nbsp;</sup>
        выберите мышкой слово ... или нажмите номер слова на клавиатуре
    </p>
    <p class="training_en_ru__description">
        <sup>**&nbsp;</sup>
        не забудьте включить звук, чтобы слышать произношение
    </p>
</section>

<script src="../src/js/Translate.js"></script>